<!-----------------------Nav--------------------->

<!-------------------------------------------->

<!-- Masthead-->
<header class="masthead d-flex align-items-end">
  <div
    class="container px-4 px-lg-5 d-flex flex-column h-100 align-items-start justify-content-center"
  >
    <div class="text-start mt-5">
      <!--<h1 class="mx-auto my-0 text-uppercase">ChromaCuts</h1>-->
      <h2 class="mx-auto mt-2 mb-3 chroma-header-info">
        <!--text-white -->
        Step into Elegance at ChromaCuts <br />
        Where Style Meets Sophistication!
      </h2>
      <a class="btn text-white button-87" href="#about">Get Started</a>
    </div>
  </div>
</header>

<!------------------------------------------------------->

<!-- About-->
<section class="about-section text-playfair text-center" id="about">
  <div class="container px-2 px-lg-3">
    <div class="row gx-0 gx-lg-0">
      <!-- Content on the left -->
      <div
        class="text-lg-left col-lg-8 justify-content-start align-items-start"
      >
        <h2 class="section-title text-playfair mb-4">About Us</h2>
        <span class="section-subtitle">Step into Elegance</span>
        <p class="text-black about-p">
          Step into sophistication at ChromaCuts, where style meets innovation.
          Our salon website offers a seamless experience, from booking
          appointments to enjoying professional services, bringing elegance to
          your grooming routine
        </p>
      </div>

      <!-- Image on the right -->
      <div class="col-lg-4 about-image">
        <img
          class="img-fluid"
          src="\assets\salonheader-1080.webp"
          alt="about-image"
        />
      </div>
    </div>

    <div class="about-row">
      <div class="about-col span-1-of-4 box">
        <h3 class="about-row-h3">Professional Stylists</h3>
        <p>
          ChromaCuts is home to a team of highly skilled and professional
          stylists who are passionate about their craft. With years of
          experience in the industry, our stylists are dedicated to bringing out
          the best in your style and enhancing your unique personality
        </p>
      </div>

      <div class="about-col span-1-of-4 box">
        <h3 class="about-row-h3">Innovative Services</h3>
        <p>
          At ChromaCuts, we pride ourselves on offering innovative grooming
          services that go beyond the conventional. From trendy haircuts to
          rejuvenating spa treatments, our salon is committed to providing
          services that not only meet but exceed your expectations
        </p>
      </div>

      <div class="about-col span-1-of-4 box">
        <h3 class="about-row-h3">Elegant Salon Environment</h3>
        <p>
          Step into sophistication at ChromaCuts, where our salon's ambiance is
          designed to create a serene and elegant atmosphere. Whether you're
          here for a quick touch-up or a complete transformation, our salon
          environment provides a relaxing escape from the hustle and bustle of
          everyday life.
        </p>
      </div>

      <div class="about-col span-1-of-4 box">
        <h3 class="about-row-h3">Seamless Booking Experience</h3>
        <p>
          Experience convenience like never before with our seamless online
          booking system. ChromaCuts understands the value of your time, and our
          user-friendly platform allows you to schedule appointments with ease.
          Take control of your grooming routine with just a few clicks.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Services-->
<section class="projects-section bg-orange-light" id="services">
  <div class="container py-3">
    <!-- First Row [Prosucts]-->
    <!-- Second Row [From the Shop]-->
    <h2 class="section-title text-playfair mb-4">Most Preffered Services</h2>
    <span class="section-subtitle">Service meets the Style</span>
    <p class="text-black subtitle-caption mb-3 mb-lg-4">
      Our salons offer a wide range of services to suit all tastes, including
      our signature service, which are below.
    </p>

    <div class="d-flex flex-wrap pb-5 mb-4">
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-0">
          <div class="card-body text-playfair-black p-4">
            <img
              src="\assets\spaservice2.jpg"
              alt="Spa-service"
              class="img-fluid d-block mx-auto mb-3"
            />
            <h5>
              <a href="#" class="text-playfair-darkpink text-decoration-none"
                >Spa Services</a
              >
            </h5>
            <p class="small text-dark font-italic ls-1">
              Many salons offer spa services for relaxation and rejuvenation.
              This can include massages, body scrubs, aromatherapy, and other
              treatments designed to relieve stress
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-0">
          <div class="card-body p-4 text-playfair-black">
            <img
              src="\assets\hairstylist.jpg"
              alt="Hair-styling"
              class="img-fluid d-block mx-auto mb-3"
            />
            <h5>
              <a href="#" class="text-playfair-darkpink text-decoration-none"
                >Haircut and Styling</a
              >
            </h5>
            <p class="small text-dark font-italic ls-1">
              Hair cutting, styling, and sometimes additional treatments like
              blow-drying or setting. Clients can choose from a variety of
              styles, lengths, and textures which they prefer and choose
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-0">
          <div class="card-body p-4 text-playfair-black">
            <img
              src="\assets\manicure.jpg"
              alt="Manicure-pedicure"
              class="img-fluid d-block mx-auto mb-3"
            />
            <h5>
              <a href="#" class="text-playfair-darkpink text-decoration-none"
                >Manicures and Pedicures</a
              >
            </h5>
            <p class="small text-dark font-italic ls-1">
              Nail care services involve trimming, shaping, and polishing of
              fingernails and toenails. Manicures and pedicures may also include
              treatments such as exfoliation, moisturizing, and nail art
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-0">
          <div class="card-body p-4 text-playfair-black">
            <img
              src="\assets\facial.jpg"
              alt="Skincare-facial"
              class="img-fluid d-block mx-auto mb-3"
            />
            <h5>
              <a href="#" class="text-playfair-darkpink text-decoration-none"
                >Skincare Treatments</a
              >
            </h5>
            <p class="small text-dark font-italic ls-1">
              Facials and skincare services focus on improving the health and
              appearance of the skin. This can include cleansing, exfoliation,
              extraction, facial masks, and moisturizing treatments
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Second Row [Team]-->
    <h2 class="section-title text-playfair mb-4">Our Top Stylists</h2>
    <span class="section-subtitle">Where Trends Transform into Elegance</span>
    <p class="text-black subtitle-caption mb-3 mb-lg-4">
      Discover a team of skilled stylists at our salon, dedicated to elevating
      your grooming experience with creativity, precision, and a touch of
      elegance
    </p>

    <div class="d-flex flex-wrap pb-5 mb-4">
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card shadow-md border-0 rounded">
          <div class="card-body p-0">
            <img
              src="\assets\stylist4.jpg"
              alt=""
              class="w-100 card-img-top stylist-image"
            />
            <div class="p-4">
              <h5 class="mb-0">Akash Hedau</h5>
              <p class="small text-muted">CEO - Consultant</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card shadow-sm border-0 rounded">
          <div class="card-body p-0">
            <img
              src="/assets/stylist1.png"
              alt="hairstylist"
              class="w-100 card-img-top stylist-image"
            />
            <div class="p-4">
              <h5 class="mb-0">Mark Rockwell</h5>
              <p class="small text-muted">Hair Stylist</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card shadow-sm border-0 rounded">
          <div class="card-body p-0">
            <img
              src="\assets\stylist3.jpg"
              alt=""
              class="w-100 card-img-top stylist-image"
            />
            <div class="p-4">
              <h5 class="mb-0">Sophia Anderson</h5>
              <p class="small text-muted">Pedicurist</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card shadow-sm border-0 rounded">
          <div class="card-body p-0">
            <img
              src="\assets\stylist2.jpg"
              alt="makeupartist"
              class="w-100 card-img-top stylist-image"
            />
            <div class="p-4">
              <h5 class="mb-0">Emily Turner</h5>
              <p class="small text-muted">Makeup Artist</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="reviews-section px-5 px-lg-5">
  <div class="container px-2 px-lg-3">
    <h2 class="section-title text-playfair mb-4">Client Testimonials</h2>
    <span class="section-subtitle">Unveiling Elegant Experiences</span>
  </div>
  <div class="section-testimonials d-flex flex-row">
    <div class="contact-col mx-2">
      <blockquote>
        I'm impressed by the impeccable service at ChromaCuts. The skilled
        stylists not only understand the latest trends but also personalize
        their approach to match my unique style. The salon's commitment to
        quality and attention to detail make it my go-to destination for a
        top-notch grooming experience.
        <cite
          ><img src="\assets\customer-1.jpg" alt="Alberto Duncan" />Alberto
          Duncan</cite
        >
      </blockquote>
    </div>
    <div class="contact-col mx-2">
      <blockquote>
        ChromaCuts goes beyond just a salon—it's a haven for beauty enthusiasts.
        The diverse range of services, from haircuts to bridal makeup, caters to
        every grooming need. The welcoming ambiance and talented team make each
        visit memorable. ChromaCuts is where service meets style, and I couldn't
        be happier with the results!
        <cite
          ><img src="\assets\customer-2.jpg" alt="Joana Silva" />Joana
          Silva</cite
        >
      </blockquote>
    </div>
    <div class="contact-col mx-2">
      <blockquote>
        ChromaCuts has transformed my grooming experience! The salon's
        innovative services and professional stylists create an atmosphere of
        elegance. From chic haircuts to relaxing spa sessions, every visit is a
        delight. They truly brings style and sophistication to my grooming
        routine.
        <cite
          ><img src="\assets\customer-3.jpg" alt="Naresh Kumar" />Naresh
          Kumar</cite
        >
      </blockquote>
    </div>
  </div>
</section>

<!-- Signup-->
<section class="section-form px-5 px-lg-5" id="signup">
  <div class="container px-2 px-lg-3">
    <h2 class="section-title text-playfair mb-4">Reach out to us</h2>
    <span class="section-subtitle">Let’s get in touch</span>
  </div>

  <div class="container text-playfair-black">
    <form action="#" method="POST" class="contact-form">
      <table class="table">
        <tbody>
          <tr>
            <td class="text-end"><label for="name">Name</label></td>
            <td>
              <input
                type="text"
                name="name"
                id="name"
                class="form-control"
                placeholder="Your Name"
                required
              />
            </td>
          </tr>

          <tr>
            <td class="text-end"><label for="email">Email</label></td>
            <td>
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                placeholder="Your Email"
                required
              />
            </td>
          </tr>

          <tr>
            <td class="text-end">
              <label for="find">How did you find us?</label>
            </td>
            <td>
              <select name="find" id="find" class="form-select">
                <option value="friends">Friends</option>
                <option value="search">Web</option>
                <option value="ad">Advertisement</option>
                <option value="other">Other</option>
              </select>
            </td>
          </tr>

          <tr>
            <td class="text-end"><label for="ta">Drop a feedback</label></td>
            <td>
              <textarea
                name="ta"
                id="ta"
                class="form-control"
                rows="5"
              ></textarea>
            </td>
          </tr>

          <tr>
            <td></td>
            <td>
              <button type="submit" class="btn button-87 w-50 h-75">
                Send feedback
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</section>

<!-- Contact-->
<section class="contact-section gradient-custom-2">
  <div class="container px-4 px-lg-5">
    <div class="d-flex justify-content-center">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100 bg-orange-light">
          <div class="card-body text-center">
            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Address</h4>
            <hr class="my-4 mx-auto" />
            <div class="address text-black-100">
              4923 Market Street, Delhi, IN
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100 bg-orange-light">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4 mx-auto" />
            <div class="p text-black-100">
              <a href="#!">chromacuts@gmail.com</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100 bg-orange-light">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Phone</h4>
            <hr class="my-4 mx-auto" />
            <div class="p text-black-100">+91 885-902-8832</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer-->

<!-- <app-footer></app-footer> -->

<script>
  //Nav Dropdown

  /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
  function myDropFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown if the user clicks outside of it
  window.onclick = function (e) {
    if (!e.target.matches(".dropbtn")) {
      var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains("show")) {
        myDropdown.classList.remove("show");
      }
    }
  };

  //----------------------------------

  // Change background color on scroll
  window.onscroll = function () {
    var navbar = document.getElementByClass("navbar");
    if (
      document.body.scrollTop > 250 ||
      document.documentElement.scrollTop > 250
    ) {
      navbar.classList.add("navbar-scrolled");
    } else {
      navbar.classList.remove("navbar-scrolled");
    }
  };

  //Animate Scrolling
  $(document).ready(function () {
    // Add smooth scrolling to all links
    $("a").on("click", function (event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $("html, body").animate(
          {
            scrollTop: $(hash).offset().top,
          },
          1000,
          function () {
            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          }
        );
      } // End if
    });
  });
  //----------------------------------
</script>

<script>
  AOS.init();
</script>
