<section class="bg-image" style="
    background-image: url('https://wepik.com/api/image/ai/9ad98c99-bd40-4cd9-a761-9e2e8626bb8a?thumb=1');
  ">
<div class="mask d-flex align-items-center h-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 w-50 col-lg-7 col-xl-6">
        <div class="card my-4" style="border-radius: 15px">
        <div class="card-body p-5">
        <div class="text-center">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                  style="width: 185px" alt="logo" />
          <h4 class="mt-1 mb-5 pb-1 chromacuts-logoname">ChromaCuts</h4>
        </div>
        <h2 class="text-playfair-black text-center mb-5">Appointment Details</h2>
  
  
    <form #appointmentForm="ngForm" class="stylist-reg-form">
      <!--Appointment Id-->
      <div class="form-outline row g-2">
        <label class="form-label" for="form3Example1cg">APPOINTMENT ID</label>
        <div class="col-lg-10">
        <input
          type="text"
          id="form3Example1cg"
          class="form-control form-control-lg"
          name="appointmentId"
          disabled
          #appointmentId="ngModel"
          [(ngModel)]="appointment.appointmentId"
        />
      </div>
      </div>
      
      <!--Appointment Date-->
      <div class="form-outline row g-2">
        <label class="form-label" for="form3Example1cg">APPOINTMENT DATE</label>
        <div class="col-lg-10">
        <input
          type="text"
          id="form3Example5cg"
          class="form-control form-control w-100"

          name="appointmentDate"
          disabled
          #appointmentDate="ngModel"
          [(ngModel)]="appointment.appointmentDate"
          />
        </div>
        <div class="col-auto">
        <i class="bi bi-pencil-square"></i>
        <button
                  color="accent"
                  mat-raised-button
                  class="w-100 h-100"
                  routerLink="/viewallstylist/{{salonid}}/{{servicesidstr}}"
                >
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
        </svg>
        </button>
      </div>
      </div>

      <!--Appointment Time-->
      <div class="form-outline row g-2">
        <label class="form-label" for="form3Example3cg">APPOINTMENT TIME</label>
        <div class="col-lg-10">
        <input
          type="email"
          id="form3Example3cg"
          class="form-control form-control w-100"
          name="appointmentTime"
          disabled
          #appointmentTime="ngModel"
          [(ngModel)]="appointment.appointmentTime"
        />
      </div>
      <div class="col-auto">
        <i class="bi bi-pencil-square"></i>
        <button
                  color="accent"
                  mat-raised-button
                  class="w-100 h-100"
                  routerLink="/viewallstylist/{{salonid}}/{{servicesidstr}}"
                >
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
        </svg>
        </button>
      </div>

      </div>

      <!--Appointment Type-->
      <div class="form-outline row g-2">
        <label class="form-label" for="form3Example4cg">APPOINTMENT TYPE</label>
        <div class="col-lg-10">
        <input
          type="text"
          id="form3Example4cg"
          class="form-control form-control w-100"
          name="appointmentType"
          disabled
          #appointmentType="ngModel"
          [(ngModel)]="appointment.appointmentType"
        />
      </div>
      <div class="col-auto">
        <i class="bi bi-pencil-square"></i>
        <button
                  color="accent"
                  mat-raised-button
                  class="w-100 h-100"
                  routerLink="/viewallstylist/{{salonid}}/{{servicesidstr}}"
                >
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
        </svg>
        </button>
      </div>

      </div>

      <!--salon name-->
      <div class="form-outline row g-2">
        <label class="form-label" for="form3Example4cdg">SALON NAME</label>
        <div class="col-lg-10">
        <input
          type="text"
          id="form3Example4cdg"
          class="form-control form-control w-100"
          name="salonname"
          disabled
          required
          #salonname="ngModel"
          [(ngModel)]="salon.salonname"
        />
      </div>
      <div class="col-auto">
        <i class="bi bi-pencil-square"></i>
        <button
                  color="accent"
                  mat-raised-button
                  class="w-100 h-100"
                  routerLink="/homepage"
                >
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
        </svg>
        </button>
      </div>

      </div>


     
      

      <!--stylist name-->
      <div class="form-outline row g-2">
        <label class="form-label" for="form3Example4cdg">STYLIST NAME</label>
        <div class="col-lg-10">
      <input
          type="text"
          id="form3Example4cdg"
          class="form-control form-control w-100"
          name="stylistname"
          disabled
          #stylistname="ngModel"
          [(ngModel)]="stylist.firstname"
        />
        </div>
        <div class="col-auto">
          <i class="bi bi-pencil-square"></i>
          <button
                    color="accent"
                    mat-raised-button
                    class="w-100 h-100"
                    routerLink="/viewallstylist/{{salonid}}/{{servicesidstr}}"
                  >
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
          </svg>
          </button>
        </div>
      </div>
      <br>
      <!--services name-->
      <div class="form-outline mb-2">
        <div class="tablediv">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">SERVICES NAME</th>
                <th scope="col">SERVICES PRICE</th>
                <th scope="col">EDIT SERVICES </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let service of services
                "
              >
                <td scope="col">{{ service.servicesname }}</td>
                <td scope="col">₹{{ service.servicesprice }}</td>
                <td scope="col"><i class="bi bi-pencil-square"></i>
                  <button
                            color="accent"
                            mat-raised-button
                           
                            routerLink="/viewallservice/{{salonid}}"
                          >
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                  </svg>
                  </button></td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div> 
    </form>
    <div class="grand_total_wrap">
      <div class="grand_total">
      <p><span>GRAND TOTAL:</span>
        <span>₹{{totalserviceprice}}</span>
      </p>    
    </div>  
    </div>
    <div class="error-message">
      warning : Please be advised that your appointment will be automatically cancelled if payment is not made
    </div>
    <div class="d-flex justify-content-center">
     
      <app-payment></app-payment>
      
    </div>
  </div>
</div>