<body>
  <!-- Navigation-->

  <!-- Header-->
  <header class="py-5 gradient-custom-2">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-7 fw-bolder">Welcome {{ salonname }}</h1>
        <br />
        <h1 class="display-4 fw-bolder">Book in style</h1>
        <p class="lead fw-normal text-white-50 mb-0">With ChromaCuts</p>
      </div>
    </div>
  </header>
  <!-- Section-->
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <div
        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
      >
        <!-- Card 1 -->
        <div class="col mb-5">
          <div class="card h-100 border-danger">
            <!-- Product image-->
            <!-- <img class="card-img-top" src="/src/app/images/barber7.jpg" /> -->
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h3 class="fw-bolder">Stylist</h3>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  routerLink="/allstylist"
                >
                  View stylists
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col mb-5">
          <div class="card h-100 border-danger">
            <!-- Product image-->
            <!-- <img class="card-img-top" src="/src/app/images/customers.png" /> -->
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h3 class="fw-bolder">Services</h3>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  routerLink="/allservice"
                >
                  View Services
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="col mb-5">
          <div class="card h-100 border-danger">
            <!-- Product image-->
            <!-- <img class="card-img-top" src="/src/app/images/customers.png" /> -->
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h3 class="fw-bolder">Add a Stylist</h3>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  routerLink="/addstylist"
                >
                  Add a Stylist
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Card 4 -->
        <div class="col mb-5">
          <div class="card h-100 border-danger">
            <!-- Product image-->
            <!-- <img class="card-img-top" src="/src/app/images/customers.png" /> -->
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h3 class="fw-bolder">Add Services</h3>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  routerLink="/addservice"
                >
                  Add a Services
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Card 5 -->
        <div class="col mb-5">
          <div class="card h-100 border-danger">
            <!-- Product image-->
            <!-- <img class="card-img-top" src="/src/app/images/customers.png" /> -->
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h3 class="fw-bolder">Appointments</h3>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  routerLink="/salonAppointments"
                >
                  Show Appointments
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- card 4 -->
        <div class="col mb-5">
          <div class="card h-100 border-danger">
            <!-- Product image-->
            <!-- <img class="card-img-top" src="/src/app/images/customers.png" /> -->
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h3 class="fw-bolder">Profile</h3>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  routerLink="/salonprofile"
                >
                  View profile
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer-->
</body>
