<section
  class="bg-image"
  style="
    background-image: url('https://wepik.com/api/image/ai/9ad72fe7-088c-48da-b0a3-fd7dd37ba43a?upscaled=0');
  "
>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card h-100 my-4" style="border-radius: 15px">
            <div class="card-body p-5 ">
              <div class="text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" style="width: 185px"
                  alt="logo" />
                <h4 class="mt-1 mb-5 pb-1 chromacuts-logoname">ChromaCuts</h4>
              </div>

              <h2 class="text-uppercase text-center mb-5 text-playfair-black">Create an account</h2>

              <form
                (ngSubmit)="!userForm.invalid && register()"
                #userForm="ngForm"
                class="user-reg-form"
              >
                <div class="form-outline mb-2">
                  <label class="form-label" for="form3Example1cg"
                    >First Name</label
                  >
                  <input
                    type="text"
                    id="form3Example1cg"
                    class="form-control form-control-lg"
                    name="firstname"
                    minlength="3"
                    required
                    #firstname="ngModel"
                    [(ngModel)]="user.userfirstname"
                    pattern="^[A-Za-z]+$"
                  />
                  <div
                    *ngIf="
                      firstname.invalid &&
                      (firstname.dirty || firstname.touched)
                    "
                    class="error-message"
                  >
                    <div *ngIf="firstname.errors?.['required']">
                      *Firstname is required
                    </div>

                    <div *ngIf="firstname.errors?.['minlength']">
                      *Firstname should have atleast 4 characters
                    </div>

                    <div *ngIf="firstname.errors?.['pattern']">
                      *Firstname should have only alphabets
                    </div>
                  </div>
                  <label class="form-label" for="form3Example1cg"
                    >Last Name</label
                  >
                  <input
                    type="text"
                    id="form3Example5cg"
                    class="form-control form-control-lg"
                    name="lastname"
                    minlength="4"
                    required
                    #lastname="ngModel"
                    [(ngModel)]="user.userlastname"
                    pattern="^[A-Za-z]+$"
                  />
                  <div
                    *ngIf="
                      lastname.invalid && (lastname.dirty || lastname.touched)
                    "
                    class="error-message"
                  >
                    <div *ngIf="lastname.errors?.['required']">
                      *Lastname is required
                    </div>

                    <div *ngIf="lastname.errors?.['minlength']">
                      *Lastname should have atleast 4 characters
                    </div>

                    <div *ngIf="lastname.errors?.['pattern']">
                      *Lastname should have only alphabets
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label" for="form3Example3cg"
                    >Email Id</label
                  >
                  <input
                    type="email"
                    id="form3Example3cg"
                    class="form-control form-control-lg"
                    name="emailid"
                    maxlength="30"
                    required
                    #emailid="ngModel"
                    [(ngModel)]="user.useremail"
                    pattern="^[a-zA-Z]{1}[a-zA-Z0-9.\-_]*@[a-zA-Z]{1}[a-zA-Z.-]*[a-zA-Z]{1}[.][a-zA-Z]{2,}$"
                  />
                  <div
                    *ngIf="
                      emailid.invalid && (emailid.dirty || emailid.touched)
                    "
                    class="error-message"
                  >
                    <div *ngIf="emailid.errors?.['required']">
                      *Emailid is required
                    </div>

                    <div *ngIf="emailid.errors?.['maxlength']">
                      *Emailid maximum length should be less than 30
                    </div>

                    <div *ngIf="emailid.errors?.['pattern']">
                      *Emailid is invalid
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label" for="form3Example4cg"
                    >Mobile Number</label
                  >
                  <input
                    type="text"
                    id="form3Example4cg"
                    class="form-control form-control-lg"
                    name="mobilenumber"
                    maxlength="10"
                    required
                    #mobilenumber="ngModel"
                    [(ngModel)]="user.userphonenumber"
                    pattern="^[6-9]\d{9}$"
                  />
                  <div
                    *ngIf="
                      mobilenumber.invalid &&
                      (mobilenumber.dirty || mobilenumber.touched)
                    "
                    class="error-message"
                  >
                    <div *ngIf="mobilenumber.errors?.['required']">
                      *Mobilenumber is required
                    </div>

                    <div *ngIf="mobilenumber.errors?.['pattern']">
                      *Invalid mobilenumber
                    </div>

                    <div *ngIf="mobilenumber.errors?.['maxlength']">
                      *Mobilenumber should have atleast 10 digits
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-2">
                  <label class="form-label" for="form3Example4cdg"
                    >Password</label
                  >
                  <input
                    type="password"
                    id="form3Example4cdg"
                    class="form-control form-control-lg"
                    name="password"
                    minlength="5"
                    maxlength="20"
                    required
                    #password="ngModel"
                    [(ngModel)]="user.userpassword"
                    pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                  />
                  <div
                    *ngIf="
                      password.invalid && (password.dirty || password.touched)
                    "
                    class="error-message"
                  >
                    <div *ngIf="password.errors?.['required']">
                      *Password is required
                    </div>

                    <div *ngIf="password.errors?.['minlength']">
                      *Password should have atleast 5 character and less than 20
                      character
                    </div>

                    <div *ngIf="password.errors?.['pattern']">
                      *Password should have one uppercase ,one lowercase,one
                      special character and number
                    </div>
                  </div>
                </div>

                <div class="form-check d-flex justify-content-center mb-1">
                  <div>
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      id="TCCheckbox"
                      name="isAccept"
                      [(ngModel)]="isAccept"
                     checked
                      required
                    />
                  </div>
                
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in
                    <a  class="text-body" (click)="termsandcondition()"><u>Terms of conditions</u></a>
                  </label>
                </div>
                 

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-2 register-button text-body"
                  >
                    Register
                  </button>
                </div>

                <p class="text-center text-muted mt-2 mb-0">
                  Have already an account?
                  <a routerLink="/login" class="fw-bold text-body"
                    ><u>Login here</u></a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
