<body>
  <!-- Navigation-->

  <!-- Header-->
  <header class="py-5 gradient-custom-2">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-7 fw-bolder">Welcome {{ username }}</h1>
        <br />
        <h1 class="display-4 fw-bolder">Book in style</h1>
        <p class="lead fw-normal text-white-50 mb-0">With ChromaCuts</p>
      </div>
    </div>
  </header>
  <!-- Section-->
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <div
        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
      >
        <!-- Card 1 -->
        <div class="col mb-5">
          <div class="card h-100 border-danger shadow-lg mb-5 bg-white rounded">
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Card Header-->
                <h3 class="fw-bolder">Users</h3>
              </div>
            </div>
            <!-- Card actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  routerLink="/allusers"
                >
                  View Users
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col mb-5">
          <div class="card h-100 border-danger shadow-lg mb-5 bg-white rounded">
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Card name-->
                <h3 class="fw-bolder">All Salons</h3>
              </div>
            </div>
            <!-- Card actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  routerLink="/allsalons"
                >
                  View Registered Salons
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="col mb-5">
          <div class="card h-100 border-danger shadow-lg mb-5 bg-white rounded">
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Card name-->
                <h3 class="fw-bolder">Salon Applications</h3>
              </div>
            </div>
            <!-- Card actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  routerLink="/salonrequests"
                >
                  View Salon Requests
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Card 4 -->
        <div class="col mb-5">
          <div class="card h-100 border-danger shadow-lg mb-5 bg-white rounded">
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Card name-->
                <h3 class="fw-bolder">Appointments</h3>
              </div>
            </div>
            <!-- Card actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  routerLink="/adminviewallappointments"
                >
                  Show Appointments
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- card 4 -->
        <div class="col mb-5">
          <div class="card h-100 border-danger shadow-lg mb-5 bg-white rounded">
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Card name-->
                <h3 class="fw-bolder">All Stylists</h3>
              </div>
            </div>
            <!-- Card actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  routerLink="/adminViewAllStylist"
                >
                  View Registered Stylists
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer-->
</body>
