footer {
  margin-top: 1px;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  font-size: 80%;
  padding: 2rem;
  /* Adjust the padding as needed */
  color: #888;
  text-align: center;
  
}

.footer-nav {
  list-style: none;
  float: left;
}

.footer-social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.footer-social-links li {
  display: inline-block;
  margin-right: 20px;
  font-size: 1.15rem;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.footer-social-links li a:active,
.footer-social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
}

.footer-nav li a:hover,
.footer-nav li a:hover {
  color: #ddd;
  transition: 0.2s;
}

.google:hover {
  color: #d94a37;
}

.twitter:hover {
  color: #00aced
}

.youtube:hover {
  color: #e60000;
}

.footer-social-links li,
.footer-social-links li {
  font-size: 2rem;
  margin-right: 2.25rem;
  color:#999999;
}

.copyright{
  font-size: 1rem;
}