.add {
    border-radius: 20px
}

.card {
    border: none;
    border-radius: 10px;
    transition: all 1s;
    cursor: pointer
}

.card:hover {
    -webkit-box-shadow: 3px 5px 17px -4px rgba(87, 55, 231, 0.58);
    box-shadow: 3px 5px 17px -4px rgba(87, 55, 231, 0.58);
}

.ratings i {
    color: green
}

/*---------------------------------------------------*/
/*Playfair Text*/
.text-playfair {
    color: #ffffff;
    font-family: 'Playfair Display', serif !important;
}

.text-playfair-black {
    color: #000000;
    font-family: 'Playfair Display', serif !important;
}

.text-playfair-darkpink {
    color: #ff33cc;
    font-family: 'Playfair Display', serif !important;
}

.chromacuts-logoname {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-weight: 700;
    color: #ffffff !important;
}

/*Background Color*/
.bg-pink-light {
    background-color: rgb(255, 245, 255);
}

.bg-pink-dark {
    background-color: rgb(77, 0, 31);
}

.bg-orange-light {
    background-color: rgb(255, 245, 245);
}

/*Stylist name and Skills*/
.stylist-name{
    font-size: 1.5rem;
    color: rgb(0, 82, 204);
}

.stylist-skill{
    font-size: 1rem;
}

.stylist-card-section{
    margin-left: 6rem;
    margin-right: 6rem;
}

/*-------------------------------------------*/

/* Card Button */
.button-87 {
    margin: 20px auto;
    padding: 10px 1.5rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    box-shadow: 0px 0px 14px -7px #f09819;
    /*background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);*/
    background-image: linear-gradient(45deg, #ee7724 0%, #d8363a 51%, #dd3675 73%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-87:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.button-87:active {
    transform: scale(0.95);
}

/*Section Title*/
.section-title {
    color: rgb(255, 51, 255);
    margin-bottom: 1rem !important;
    font-size: 2.3rem;
}

/*Section Subtitle*/
.section-subtitle {
    color: #000;
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin-bottom: 15px;
}

.section-subtitle::after {
    display: block;
    height: 2px;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 2rem;
    content: " ";
    background-color: rgb(255, 26, 255);
    align-items: start !important;
}