<div class="h-100 bg-orange-light justify-content-center">
  <div class="container px-1 px-lg-2 pt-4 pt-lg-5">
    <h2 class="section-title text-playfair mb-4">Our Stylists</h2>
    <span class="section-subtitle">We Make Trends Transform into Elegance</span>
  </div>

  <section
    class="d-flex justify-content-start flex-wrap py-3 py-lg-4 stylist-card-section"
    
  >
  <div class="container row">
    <div class="card mb-3 mx-2 mx-lg-3" style="width: 18rem" *ngFor="
    let stylist of stylist
      | paginate : { itemsPerPage: count, currentPage: p }
  ">
      <div class="row m-2">
        <div class="col-md-12">
          <div class="p-2 py-3 text-center">
            <div class="img mb-2">
              <img
                src="../../assets/user.png"
                alt="stylist-photo"
                width="125"
                height="125"
                class="rounded-circle"
              />
            </div>
            <h4 class="stylist-name mb-1 text-playfair-black">
              {{ stylist.firstname }}
            </h4>
            <h5 class="stylist-skill text-playfair-black">
              {{ stylist.stylistspecialization }}
            </h5>
            <ngb-rating [max]="5" [rate]=stylist.stylistrating [readonly]="true"></ngb-rating>
            <div class="mt-4 appointment">
              <button
                class="button-87"
                color="accent"
                (click)="OnselectStylist(this.stylist.stylistid)"
              >
                Select
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

  <div class="paginationControls pt-4 d-flex justify-content-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

